<head>
  <meta charset="utf-8">
  <% if(article) { %>
    <title><%- site.title %></title>
  <% } else { %>
    <title><%- article.pageTitle %></title>
  <% } %>
  <meta name="verify-v1" content="/Bq2j7dlSVVrqjJ3jwiJ10/pOhNXtWMHmG+w6tIMAcs=">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//cdn.vincentbruijn.nl">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//creativecommons.org">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <% if(article) { %>
    <meta name="title" content="<%- article.pageTitle %>" />
  <% } else { %>
    <meta name="title" content="<%- site.title %>" />
  <% } %>
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Kunstblog - Artikelen in dit blog gaan over beeldende kunst, hedendaagse kunst, moderne kunst, kijken en cultuur. Kunst en kijken vormen de basis voor recensies en beschouwingen." />
  <meta name="keywords" content="eigen kunst eerst, kunstblog, art blog, art blog amsterdam, exhibition reviews amsterdam, kunstblog amsterdam, Vincent Bruijn, kunst blog, beeldende kunst blog, recensie blog, kunstrecensie blog" />
  <meta name="language" content="nl" />
  <link rel="alternate" type="application/rss+xml" title="Eigen Kunst Eerst! &bull; RSS" href="<%= site.baseUrl %>/feeds/rss" />

  <%- include('og') %>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="images/apple-touch-icon.png">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="author" href="/humans.txt">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans" rel="stylesheet" type="text/css">

  <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen">

  <%- include('ua') %>

  <meta itemprop="author" content="Vincent Bruijn">
  <meta itemprop="name" content="Eigen Kunst Eerst">
  <meta itemprop="inLanguage" content="nl-NL">
  <link itemprop="url" href="<%= site.baseUrl %>">
</head>
